
#span {margin: 0;}

body {
    background-color: black;
}

p {display: inline; margin: 5px;    
}

h5 {
    color: white;
    font-family: font1;
    font-size: 16.5px;
}

@keyframes division {
    0% {margin: 5px}
    100% {margin:10px}
}

@keyframes division-mid {
    0% {margin: 5px}
    100% {margin: 10px}
}

@keyframes span {
    0% {margin-left: 0px; margin-right: 0px}
    100% {margin-left: 19px; margin-right: 19px}
  }

@font-face {
    font-family: font1;
    src: url(font1.ttf);
}

.ciao {
    font-family: font1;
    font-size: 27px;
    color: #fff;
    min-height: 600px;
}


@media(max-width: 920px) {
}

@media(max-width:800px) {
}

@media(max-width:700px) {
    
}

@media(max-width:600px) {
      .ciao {font-size: 20px;}
}

@media(max-width:548px) {
    h5 {font-size: 15px;}
}

@media(max-width:460px) {   
    h5 {font-size:14px ;}
}

@media(max-width:400px) {   
}

@media(max-width:328px) {    
    h5 {font-size:10px;}
    .ciao {font-size: 15px;}
}
