
body {
    background-color: black;
}



p {display: inline; margin: 10px;}

h5 {
    color: white;
    font-family: font1;
    font-size: 16.5px;
}

@font-face {
    font-family: font1;
    src: url(font1.ttf);
}

.ciao {
    font-family: font1;
    font-size: 27px;
    color: #fff;
    min-height: 600px;
}


@media(max-width: 920px) {
}

@media(max-width:800px) {
}

@media(max-width:700px) {
    
}

@media(max-width:600px) {
      
}

@media(max-width:548px) {
    h5 {font-size: 13px;}
}

@media(max-width:460px) {   
    h5 {font-size:9px ;}
}

@media(max-width:400px) {   
}

@media(max-width:328px) {    
    h5 {font-size:9px;}
}
