

body {
    background-color: black;
}


h4 {
    color: white;
    font-family: font1;
    font-size: 19px;
}

@font-face {
    font-family: font1;
    src: url(font1.ttf);
}

.cont {
    font-family: font1;
    font-size: 50px;
    color: #fff;
    max-width: 800px;
    min-height: 600px;
}


p{
    display: inline;
    margin: 40px;
}



@media(max-width:800px) {
    .cont {margin-top: 45%; font-size: 30px ;}

}

@media(max-width:700px) {
    .cont {font-size: 35px;}
}

@media(max-width:600px) {
    .cont {font-size: 35px;}
}

@media(max-width:548px) {
    p {margin: 20px;}
    .cont {font-size: 35px;}
    h4 {font-size: 13px;}
}

@media(max-width:460px) {
    p {margin: 10px;}
    .cont {font-size: 25px;}
}

@media(max-width:400px) {
    p {margin: 10px;}
    .cont {font-size: 20px;}
}

@media(max-width:328px) {
    .cont {font-size: 20px;}
    p {margin: 9px;}
}
